<div id="trivia" class="container" >
	<div class="col-md-9 col-xs-9" id="trivia_body" >
		<!--<lane ng-repeat="k in contCtrl.players"></lane>-->
		<div class="col-md-4 col-xs-12">
			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: center;">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: center; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right; ">
				
				<img src="img/cloud.png" style=" max-height:60px;">
			</div>

			<div class="level" style="text-align: center; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right;">
				<img src="img/question.png" style=" height:100px;">
				<img src="img/cloud.png" style=" max-height:60px;">
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: center;">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: center; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right; ">
				
				<img src="img/cloud.png" style=" max-height:60px;">
			</div>

			<div class="level" style="text-align: center; ">
				<img src="img/player_red.png" style=" height:100px;">
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right;">
				<img src="img/question.png" style=" height:100px;">
				<img src="img/cloud.png" style=" max-height:60px;">
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: center;">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: center; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: left; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right; ">
				
				<img src="img/cloud.png" style=" max-height:60px;">
			</div>

			<div class="level" style="text-align: center; ">
				
				<img src="img/cloud.png" style=" max-height:50px;">
			</div>

			<div class="level" style="text-align: right;">
				<img src="img/question.png" style=" height:100px;">
				<img src="img/cloud.png" style=" max-height:60px;">
			</div>
		</div>
		
	</div>
	
	<div class=" col-md-3 col-xs-3"  >
		<div class="panel panel-default" id="trivia_side_menu">
			<div class="panel-heading"><span style="color: rgb(0,162,232)">Fun</span><span style="color: rgb(255,127,39)">@</span><span style="color: rgb(163,73,164)">Web</span></div>
			<div class="panel-body">
			<div id="trivia_player_scores" >
				<p> <img src="./img/player_red.png" height="50">   0 points</p>
				<p> <img src="./img/player_purple.png" height="50">   0 points</p>
				<p> <img src="./img/player_orange.png" height="50">   0 points</p>
				<p> <img src="./img/player_blue.png" height="50">   0 points</p>
			</div>
				<!-- Standings component 
				<standings players="contCtrl.players" games="contCtrl.games" competitions="contCtrl.competitions" competition-id="contCtrl.currentCompId"></standings>-->
				<div id="trivia_side_btns">
					<div class="btn-group btn-group-justified btn-group-lg">
						<a href="#scores" ng-click="ShowContent()" class="btn btn-danger" id="singlePlayerBtn">Check scores</a>
						<a href="#" ng-click="ShowContent()" class="btn btn-warning" id="multiPlayerBtn">Home</a> 
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>