
<div id="footer" class="container" >
   <!-- <footer class="text-left"> -->
 
        <div class="row">
            <div class="col-md-7 col-xs-1" id="navFooter">
               <nav class="navbar pull-right " >
                  
                    <ul class="nav navbar-nav" id="footer-links">
                    	 <li><a href="#">About</a></li>
                    	 <li><a href="#">Blog</a></li>
                    	 <li><a href="#">Explore</a></li> 
                    	 <li><a href="#">Advertise</a></li>                     	 
                    	 <li><a href="#">Contact us</a></li>
                    	</ul>
                   
                </nav>
            </div>
            <div class="col-md-1 col-xs-1" id="logoBottom" >
            	<!--<img alt="Traveller" src="./img/logo.png">-->
            </div>
            <div class="col-md-4 col-xs-10" id="media">
            	<a href="#">
            		<img alt="Facebook" src="./img/Facebook.png">
            	</a>
            	<a href="#">
            		<img alt="Tweeter" src="./img/Twitter-Logo.png">
            	</a>
            	<a href="#">
            		<img alt="Youtube" src="./img/youtube.png">
            	</a>
            	<a href="#">
            		<img alt="Google" src="./img/gp.png">
            	</a>

            </div>


         <!--   <div id="feedback" class="col-md-2">
                <a href=""><span class="glyphicon glyphicon-thumbs-down" title="Give us feedback Sad"></span></a>
                <a href=""><span class="glyphicon glyphicon-thumbs-up" title="Give us feedback Happy"></span></a>
            </div>
        </div>
 
       <div class="row disclaimers">
           <p>Copyright 2016</p>
       </div>
   -->

 
   <!-- </footer> -->
</div>
 