<div id="play" class="container" >
	<div id="playContent">
		<div class="col-md-offset-2 col-md-8 col-xs-12" id="play_text">
			<h1>Are you ready to test your knowledge?</h1><br>
			<h3>Compete against other web-developers in a multi-player trivia game</h3><br>
			<h3>Or start by training in a single-player game</h3><br><br>
		</div>
		 
		<div class="btn-group btn-group-justified">
			<a href="#trivia" ng-click="ShowTrivia() " class="btn btn-warning" id="singlePlayerBtn">Single Player</a>
			<a href="#trivia" ng-click="ShowTrivia() " class="btn btn-danger" id="multiPlayerBtn">Multi Player</a> 
		</div>
	</div>
	
</div>