<div id="rules" class="container" >
	<div id = "rules_title" >
		<h1>RULES <!--<img class="_logo" src="img/rules.png" alt="Scores" width="42" height="48" >--></h1> 
	</div>
	<div id="rules_content" class="col-md-offset-1 col-md-10 col-xs-12">
		<div id = "rules_text">
	    	<p><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:rgb(255,127,77)"> </span> Rule nb 1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

	    	<p><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:rgb(255,127,77)"> </span>   Rule nb 2 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor.  </p>

	    	<p><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:rgb(255,127,77)"> </span>   Rule nb 2 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor.  </p>

	    	<p><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:rgb(255,127,77)"> </span>   Rule nb 2 Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor.  </p>
	    </div>
	 </div>
</div>