<div id="scores" class="container" >
	<div id = "scores_title" >
		<h1>SCORES <!--<img class="_logo" src="img/icon-standing.png" alt="Scores" width="52" height="42" >--></h1> 
	</div>
	
	<div id="scores_content" class="col-md-offset-1 col-md-10 col-xs-12"  >
		<!-- Add and List players -->
		<div class="col-lg-12">
			<table-component table-headers="contCtrl.userHeaders" table-keys="contCtrl.userKeys" table-body="contCtrl.players" table-title="Players"></table-component>
		</div>
		
	</div>
	
		
</div>