
	<header ng-show="header" > </header>
	<!--<header ng-show="header" data-ng-controller="entryController" ng-class="{entryCtrl.viewValue === 'Manager'}">> </header>-->
	<div id="mainContent">
		<first ng-show="first" > </first>
		<rules ng-show="rules" > </rules>
		<scores ng-show="scores"> </scores>
		<!--<scores ng-show="scores" data-ng-controller="containerController"> </scores>-->
		<play ng-show="play" > </play>
		<login ng-show="login"></login>	
		<register ng-show="register"></register>
		<trivia-directive ng-show="trivia"></trivia-directive>		
	</div>

	<footer ng-show="footer"> </footer>	


