
#header
{
   position: fixed;
   top: 0px;
   z-index:2;
   width:100%;
   
   max-height: 75px;
   
}
#logo-name{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 40px;
	font-weight: bold;
	padding:10px;
}
#mainContent{
	/*background-image: url("../img/background-logo.jpg");
	background-repeat: no-repeat;
	height: 100vh;
    background-size: cover;*/
    position:relative;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5em;
    height:500vh;
   	justify-content: center;   	
   	text-align: center;
   
}
#firstPageBody, #rules, #play, #trivia{
	background-repeat: no-repeat;
	height: 100vh;
    background-size: cover;
    width:100%;
    z-index:2;
}

#firstPageBody{
	z-index:-1;
	background-color: white;
	/*background-image: url("../img/background-logo-orange.png");*/
	background-size:contain;
	
	text-align: center;
}
#first_content{
	margin-top: 75px;
	font-size: 32px;
}
#first_content img {
	padding-top:7vh;
	padding-bottom:5vh;
	width:100%;
	/*max-height: 250px;*/
}
#page-title{
	font-size: 34px;
	padding:2vh;
}
#page-subtitle{
	font-size: 30px;
	padding:2vh;
}
#rules{
	background-image: url("../img/rulz2.jpg");
	/*background-color: #BEA6C5;*/
}
#rules_title, #scores_title{
	margin-top: 70px;	
	text-align: center;
	display: inline-block;
}
#rules_content{
	text-align :left;
	background-image: url("../img/tabla2.png");
	background-size:100% 65%;
	background-repeat: no-repeat;
	margin-top: 10px;
	padding:20px;
}
#rules_text{
	padding:40px;
}

#scores{
	/*background-image: url("../img/scores.jpg");
	background-image: url("../img/light_green.gif");*/
	background-image: url("../img/small_light_bricks_orange.gif");	
	height: 100vh;
    width:100%;
    z-index:2;	
}
#playContent{
	margin-top: 75px;
}
 #login {
	padding: 20px;
	text-align: right;
}
 #register{
	color: rgb(128,0,128);
	font-weight: bold;
}
#login a:hover{
	text-decoration: none;
	font-size: 16px;
}
#login a{
	padding-right: 25px;
}
nav {
	padding :10px;
	position: relative;
	margin:0;
}
#top-nav{
	background-color: rgba(239,236,236,0.6);
}
#menu-links{
	padding-right: 100px;
}
#meniu a {
	color: rgb(128,0,128);
	font-size: 14px ;
	font-weight: bold;
	
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent ; 
	font-size: 16px ;
}
#meniu a:hover, #meniu a:focus {
  	background-color: transparent ; 
	font-size: 16px ;
  
}
form.well.input-form {
	margin-top: 20px;
}

.moto{
	font-size: 3em;
	padding-top: 100px;
	text-align: center;
	
}
.moto p {
	background-color: rgba(255,255,255,0.8);
	padding-left: 0%;
}

#footer{
	position: fixed;
   	bottom: 0px;
	background-color: rgba(96,92,56,0.5);
	max-height: 50px;
	width: 100%;
	vertical-align: bottom;
	z-index:1;
	
}
#logoBottom img{
	margin-top:15px;
	margin-bottom:10px;
	max-height: 30px;
	width: auto;
}
#media img{
	margin-top:10px;
	margin-bottom:10px;
	max-height: 30px;
	width: auto;
}
#loginPage , #registerPage{	
	
	min-height: 500px;
	text-align: left;	
}
#loginPage form{
	margin-top: 90px;
	max-width: 350px;	
}
#registerPage form{
	margin-top: 90px;
	float:center;
	text-align: center;	
}
#registerBtn{
	margin-top: 30px;
	float: center;
}
#facebook_login{
	padding-top: 20px;
	text-align: center;
}
#facebook_login p {
    overflow: hidden;
    text-align: center;
}
#facebook_login p:after, #facebook_login p:before  {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
#facebook_login p:before {
    right: 0.5em;
    margin-left: -50%;
}
#facebook_login p:after {
    left: 0.5em;
    margin-right: -50%;
}
#play_text{
	line-height: 1.5em;
}
#trivia{
	padding-right: 0px;
	padding-left: 0px;
	background-color: rgba(0,162,232, 0.6);
}
#trivia_body, #trivia_side_menu{
	height: 100vh;
	padding: 0px;
	margin:0;
}


@media screen and (max-width: 893px) {
#menu-links{
	padding-right: 20px;
}
#rules_content{
	font-size: 18px;
}
}
@media screen and (max-width: 813px) {
#menu-links{
	padding-right: 0px;
}
#logo-name{
	font-size: 26px;
}
}

@media screen and (max-width: 600px) {
#header{
	max-height: 60px;
	
}
#login{
	padding:10px;
}
#logo-name{	
	font-size: 26px;
	padding:7px;
}
#logoBottom img{
	display:none;
}

#footer-links {
	display:none;
}

#meniu {
	display:none;
}

#page-title{
	font-size: 24px;
}
#page-subtitle{
	font-size: 20px;
}
#rules_content{
	background: none;
	font-size: 16px;
}
#rules_text{
	padding:10px;
}
}
@media screen and (max-width: 400px) {

#logo-name{	
	font-size: 18px;
	text-align: left;
}
#login a{
	padding: 10px;
}
#login{
	font-size: 14px;
	padding:5px;
}
#login_btn{
	height: 34px;
}
#rules_content{
	font-size: 12px;
	margin-top: 0;
	padding: 5px;
}
#firstPageBody, #rules, #scores, #play{
	background-repeat: no-repeat;
	height: 100vh;
    background-size: cover;
    width:100%;
    z-index:2;
}
#page-title{
	font-size: 16px;
}
#page-subtitle{
	font-size: 14px;
}
#footer{
	display: none;
}

}