<div class="lane" class="container" style="height:100vh">
	<div class="col-md-3 col-xs-12">
		<div class="level" style="text-align: left">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: right">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: left">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: right">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: left">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: right">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: left">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: right">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: left">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>

		<div class="level" style="text-align: right">
			<img src="img/question.png" style=" max-height:3vh;">
			<img src="img/cloud.png" style=" max-height:5vh;">
		</div>
	</div>

</div>